extends base.pug
include mixins/video

block content
    h1 Welcome to Wetube
    h2 Here you will see the trending video.
    ul 
        each videoInfo in videos
            +video(videoInfo)
        else
            li sorry nothing found. 